user = {{ postgresql_admin_user }}
password = {{ postgresql_admin_pwd }}
hosts = {{ postgresql_ip_adress }}
dbname = {{ postgresql_maildb_database }}
query = SELECT destination FROM virtual_aliases WHERE source='%s'